[user]
  email = astansbury@patientslikeme.com
  name = Adia Stansbury
[core]
  editor = vim
[color]
  status = auto
  diff = auto
  branch = auto
[alias]
  br = branch
  co = checkout
  st = status
  ci = commit
  cia = commit --amend
  cob = checkout -b
  com = checkout master
  a = add --all
  ap = add -p
  rbm = rebase master
  rbmi = rebase master -i
  g = git
[push]
  default = tracking
[commit]
  template = ~/git-commit-template.txt
[init]
  templatedir = ~/.git-templates
